*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
/*variables de color*/
:root{
    --color-principal:#75c6d4;
    --color-secundario1:#B8E6EF;
    --color-secundario2:#BCF6C3;
    --color-list:rgba(175, 168, 168, 0.3);
    --color-principal-dark:#150361;
}
body{
    background-color: rgb(237, 239, 241);
    text-transform: capitalize;
    transition: background-color .5s;
}
/*esconde las lineas del menu al hace un hover*/
.menu:hover #row1, #row2, #row3{
    display: none;
}
/*muestra el menu plegado*/
#row1, #row2, #row3 {
    display: block;
    width: 50px;
    height: 5px;
    background-color: #000;
    margin: 5px;
}
#menu_visible{
    display: none;
}
#menu_visible p>a{
    font-size: 24px;
}
/*muestra el menu desplegado cuando hacemos el hover*/
.menu:hover #menu_visible{
    display: block;
    text-decoration: none;
    padding-left: 7px;
    background-color: var(--color-principal);
    width: 140px;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.4);
}
#alquiler p{
    display: none;
}
.menu a:hover{
    color: var(--color-secundario1);
    height: 150px;
}
#inmuebles:hover #alquiler p{
    display:block;
    margin-left: 50px;
    font-size: 24px;
}
/*estilos de la barra superior*/
.header{
    width: 95%;
    height: 80px;
    background-color: var(--color-principal);
    color: #fff;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
    margin: 15px;
    margin-left: 25px;
    padding: 15px;
    align-items: center;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}

    .header a{
        color: rgb(246, 247, 248);
        text-shadow: 2px 2px 2px black;
        justify-content: space-between;
    }
    #inicio{
        color: rgb(246, 247, 248);
        text-shadow: 2px 2px 2px black;
        justify-content: space-between;
    }
        #inicio:hover{
            color: var(--color-secundario1); 
        }
    .menu{
        display: flex;  
    }
    /*efectos hover de los links*/
    .menu-container a:hover{
        color: var(--color-secundario1);
    }      
.social{
    font-size: 30px;
}        
    .social a:hover{
        /*efectos hover de los links*/
        color: var(--color-secundario1);
        font-size: 1.05em;     
    }
    main{
        margin-top: 500px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
#banner{
    position: absolute;
    width: 97%;
    height: auto;
    overflow: hidden;
    margin-left: 25px;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px black;
}
    img{
        width: 100%;
        border-radius: 5px;

    }
    h1{
        display: block;
        width:100%;
        margin-left: 40%;
        padding: 5%;
    }
    h2{
        display: block;
        width:100%;
        margin-left: 40%;
        padding: 5%;
        font-size: 30px;
    }
    /*estilos de las tarjetas de los pisos*/
.card{
    position: relative;
    width: 300px;
    height: 350px;
    margin: 20px;
}
.card .face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;
    transition: .5s;
}
/*estilos de la cara delantera de la tarjeta*/
.card .front{
    transform: perspective(600px) rotateY(0deg);
    box-shadow: 0 5px 10px #000;
}
.card .front img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card .front h3{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    color: #fff;
    background: #000;
    text-align: center;
}
.card .back{
    /*stilos de la cara trasera de la tarjeta*/
    transform: perspective(600px) rotateY(180deg);
    background: rgb(3, 35, 54);
    padding: 15px;
    color: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 5px 10px #000;
    text-align: center;
}
.card .back .link{
    border-top: solid 1px #f3f3f3;
    height: 50px;
    line-height: 50px;
}
.card .back .link a{
    color: #f3f3f3;
}
.card .back .link h3{
    font-size: 30px;
    margin-top: 20px;
    letter-spacing: 2px;
}
.card .back p{
    letter-spacing: 1px;
    display: inline;
}
/*efectos hover de las tarjetas para que giren*/
.card:hover .front{
    transform: perspective(600px)rotateY(180deg);
}
.card:hover .back{
    transform: perspective(600px)rotateY(360deg);
}
.column{
   display: flex;
   background-color: rgb(109, 106, 106);
} 
.lbl{
    display: inline-block;
    width: 65px;
    height: 33px;
    background: #797979;
    border-radius: 100px;
    cursor: pointer;
    position: relative ;
}
  .lbl::after{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    background: #fff;
    border-radius: 100px;
    position: absolute;
    top: 4px;
    left: 4px;
  }
  #switch:checked + .lbl::after{
    left: 36px;
  }
  #switch:checked + .lbl{
    background:#150361;
  }
  #switch{
    display: none;
  }
  
footer{
    margin-bottom: 25px;
    display: flex;
}
.footer{
    flex-direction: row;
    height: 150px;
    margin-top: 25px;
    margin-left: 25px;
    width: 30%; 
}

    
/*la clase dark es la que asigna el background al fondo cuando pulsamos el boton.*/
.dark{
    background-color: #150361;
}
.menu{/*estilos del menu*/
    width: 60px;
    height: 40px;
    margin-left: 10px;
    padding-top: 15px;
    display: block;
    padding-bottom: 40px;
    transition:ease .3s;
    z-index: 1;
    background-color: var(--color-principal);
}
.fieldset{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 400px;
    margin-left: 40%;
    box-shadow: 5px 8px 8px black;
    border-radius: 10px;
    background-color: #797979;
    margin-bottom: 50px;
    padding: 10px;
}
.form{
    font-size: 20px;
    padding-top: 3px;
    left: 30px;
    display: flex;
    flex-direction: column;
}
#name, #surname, #phone, #mail{
  padding-right: 20px;
  margin-bottom: 3px;
}
.container_conocenos{
    width: 80%;
    height: 400px;
    background-color: var(--color-principal);
   margin-left: 100px;
   margin-bottom: 50px;
   border-radius: 5px;
   box-shadow: 5px 8px 8px black;
}
#title{
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}
#decription{
    background-color: #fff;
    border-radius: 5px;
    padding:10px;
    margin: 15px;
    text-align: justify;
}
/*establecemos algunos parametros que se ajustan cuando la pantalla es de movil*/
@media (max-width: 700px) {
    .column {
        flex-direction: column;
            }
    h1{
        margin-left: 30%;
        margin-top: -330px;
        padding-bottom: -300px;
      }
      h2{
        margin-left: 30%;
        margin-top: -330px;
        padding-bottom: -300px;
      }
    .card .front, .card .back{
        margin-top: -240px;
        }
        .header{
            flex-direction: column;
            height: 200px;
            width: 300px;
        }
        #banner{
            width: 330px;
        }
        .form{
            margin-top: 300px;
            margin-left: -200px;
        }
        .container_conocenos{
            width: 330px;
            height: auto;
            margin-left: 20px;
            padding-bottom: 15px;
        }
        
    }